<footer class="container-fluid text-center">
    <!------------------------------------FOOTER -------------------------------------->


    <div class="d-grid gap-2 mx-auto mb-4">
        <nav class="d-grid gap-2 mx-auto mt-4">
            <a routerLink="home">Home</a>
            <a routerLink="experience">Experience</a>
            <a routerLink="qPD">Qualifications & P.D.</a>
            <a routerLink="projects">Projects</a>
            <a routerLink="HardAndSoftSkills">Hard & Soft Skills</a>
        </nav>
        <div class="mx-auto">
            <a href="https://api.whatsapp.com/send?phone=5493454093473">Contact Me</a>
        </div>
        <p>© MAB - All Rights Reserved.</p>
    </div>

    <!-- ------------------------------TYPER ------------------------------------>

    <div class="typer-header text-start p-0 d-flex align-items-center justify-content-between">
        <p class="my-auto pt-1 d-block">Technologies and libraries:~</p>
        <!-- <button type="button" class="btn btn-danger btn-sm material-symbols-outlined cleanLs" data-bs-toggle="tooltip"
            data-bs-title="Clean the Browser Local Storage and undo the changes!" data-bs-placement="top"
            data-bs-trigger="manual">delete</button> -->
    </div>
    <div class="typer-body">
        <p class="text-start footer-typer" data-type data-type-min="20" data-type-max="200">
            UI:~ <br>
            Own Authorship:~$Sliders -Login-Modal --AsyncTyper --And TONS of Javascript🤯 <br> Bootstrap:~$Layers
            -Popovers --Tooltips --Toasts --LoginForm <br> Fonts:~ Google Fonts <br>Icons:~ -Material Symbols
            -Tabler Icons
            <br>Bundler:~ Parcel
            <br>Thank you for Watching!📺
        </p>
    </div>
</footer>