header {
    background-color: black;
    color: white;
    height: 88px;

    @include media-breakpoint-up(lg) {
        background-color: #393838;
    }

    & img[alt="Argentina Programa"]:hover,
    img[alt="Argentina Programa"]:focus {
        border-radius: 7px;
        box-shadow: 0 0 7px 4px #8a8989;
    }
}