<header class="container-fluid d-grid align-content-center">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start m-0 py-1">
            <img role="button" tabindex="0" src="../../../assets/images/Argentina-Programa.png" alt="Argentina Programa"
                (click)="imgEventHandler($event)" (keyup)="imgEventHandler($event)">
        </div>
        <div class="d-flex justify-content-end align-content-center gap-1">
            <!-- class="dropdown-toggle" is for the arrow in the button. -->
            <section-dropdown></section-dropdown>
            <socials-dropdown></socials-dropdown>
            <app-settings-offcanvas></app-settings-offcanvas>
        </div>
    </div>
</header>