<main *ngIf="!errorMessage else errorLoading" class="container-fluid m-0 p-0 main-section">
    <div class="d-flex flex-column w-100 flex-lg-row m-0 p-0">
        <div class="col-12 col-lg-3 flex-fill p-0 m-0">
            <div class="d-lg-none">
                <button class="save-button changeImg save-top save-left rounded-circle material-symbols-outlined"
                    [hidden]="!logged" (click)="open(mainImgSrcModal)"
                    aria-label="Change main image source">settings</button>
                <img class="mobile imgsToChange edit-content" data-z="412 x 266" alt="Manuel perfil"
                    [src]="section?.imgMobile" id="imgMobileQa">
            </div>
            <div class="d-none d-lg-block">
                <button class="save-button changeImg save-top save-left rounded-circle material-symbols-outlined"
                    [hidden]="!logged" (click)="open(mainImgSrcModal)"
                    aria-label="Change main image source">settings</button>
                <img class="desktop imgsToChange edit-content" data-z="423 x 756" [src]="section?.imgDesktop"
                    alt="Manuel perfil" id="imgDesktopQa">
            </div>

            <div class="d-flex wrapper-h1-Edit-button">
                <button class="save-button rounded-circle save-top save-right material-symbols-outlined"
                    data-id="h1Qual" [hidden]="!logged" (click)="saveH1($event)"
                    aria-label="Change Section title">save</button>
                <h1 class="edit-content" [class]="{contentEditableTrue:logged}" [contentEditable]="logged" id="h1Qual"
                    [innerHTML]="lenguage === 'en'? section.en : section.es"></h1>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-9 flex-fill m-0 p-0">
            <div class="cardWrapper d-grid m-0 p-2 gap-3">
                <div *ngFor="let slide of slides, let i=index" class="myCard card">
                    <div class="d-flex justify-content-center my-2">
                        <button class="save-button changeImg save-left rounded-circle material-symbols-outlined"
                            [hidden]="!logged" (click)="open(slideHeaderModal, i)"
                            aria-label="Change slide header and image">settings</button>
                        <img [src]="slide.img.src" [alt]="slide.img.alt" class="rounded-circle">
                    </div>
                    <div>
                        <!-- <button class="save-button rounded-circle save-right material-symbols-outlined" data-id="h2S2Qa"
                            [hidden]="!logged" (click)="saveH1($event)"
                            aria-label="Change institution name">save</button> -->
                        <h2 class="text-start edit-content" [class]="{contentEditableTrue:logged}"
                            [contentEditable]="logged" id="h2S2Qa"
                            [innerHTML]="lenguage === 'en'? slide.h2.en : slide.h2.es">
                        </h2>
                        <h4 class="text-start edit-content" [class]="{contentEditableTrue:logged}"
                            [contentEditable]="logged" id="#" [innerHTML]=" slide.h4.text">
                        </h4>
                        <p>{{slide.startDate.month}}/{{slide.startDate.year}}-{{slide.endDate.month}}/{{slide.endDate.year}}
                        </p>
                    </div>
                    <div>
                        <button class="save-button rounded-circle save-left material-symbols-outlined"
                            [attr.data-id]="slide.id" [hidden]="!logged" (click)="saveSlideEl($event)"
                            aria-label="Change p content">save</button>
                        <p [innerHTML]="lenguage === 'en'? slide.ph.en : slide.ph.es"
                            class="p-3 m-0 text-center edit-content" [class]="{contentEditableTrue:logged}"
                            [contentEditable]="logged" #p{{i}} [id]="slide.id">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper flex-fill d-lg-none w-100 col-12 m-0 p-0">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper w-100 p-2 gap-3">
                <!-- Slides -->
                <div *ngFor="let slide of slides, let i=index" class="swiper-slide w-100 card">
                    <div class="d-flex justify-content-center my-2">
                        <button class="save-button changeImg save-left rounded-circle material-symbols-outlined"
                            [hidden]="!logged" (click)="open(slideHeaderModal, i)"
                            aria-label="Change slide header and image">settings</button>
                        <img [src]="slide.img.src" [alt]="slide.img.alt" class="rounded-circle">
                    </div>
                    <div class="slideTitleDateWrapper">
                        <!-- <button class="save-button rounded-circle save-right material-symbols-outlined" data-id="h2S2Qa"
                            [hidden]="!logged" (click)="saveH1($event)">save</button> -->
                        <h2 class="text-start edit-content" [innerHTML]="lenguage === 'en'? slide.h2.en : slide.h2.es">
                        </h2>
                        <h4 class="text-start edit-content" [innerHTML]=" slide.h4.text">
                        </h4>
                        <p>{{slide.startDate.month}}/{{slide.startDate.year}}-{{slide.endDate.month}}/{{slide.endDate.year}}
                        </p>
                    </div>
                    <div class="slideMainPh">
                        <button class="save-button rounded-circle save-left material-symbols-outlined"
                            [attr.data-id]="slide.id" [hidden]="!logged" (click)="saveSlideEl($event)">save</button>
                        <p [innerHTML]="lenguage === 'en'? slide.ph.en : slide.ph.es"
                            class="p-3 m-0 text-center edit-content" [class]="{contentEditableTrue:logged}"
                            [contentEditable]="logged" #p{{i}} [id]="slide.id">
                        </p>
                    </div>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</main>

<ng-template #errorLoading>{{errorMessage}}</ng-template>

<ng-template #mainImgSrcModal let-modal class="imgSrcModal">
    <div class="modal-header">
        <h4 class="modal-title">Set Src</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="updateSlide()">
            <div class="form-group">
                <label for="imgMobile">Mobile img src: </label>
                <input type="text" class="form-control" id="imgMobile" name="imgMobile" [(ngModel)]="section.imgMobile">
            </div>
            <div class="form-group">
                <label for="imgDesktop">Desktop img src: </label>
                <input type="text" class="form-control" id="imgDesktop" name="imgDesktop"
                    [(ngModel)]="section.imgDesktop">
            </div>
            <button type="submit" class="btn mt-2 btn-primary" (click)="modal.close('Save click')">Submit</button>
        </form>
    </div>
</ng-template>

<ng-template #slideHeaderModal let-modal class="imgSrcModal">
    <div class="modal-header">
        <h4 class="modal-title">Set Slide Header</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="updateSlide()">
            <div class="form-group">
                <label for="companyImg">Company img src: </label>
                <input type="text" class="form-control" id="companyImg" name="companyImg"
                    [(ngModel)]="section.slides[slidesIndex].img.src">
            </div>
            <div class="form-group">
                <label for="Certificate">Certificate / Title</label>
                <input type="text" class="form-control" id="Certificate" name="Certificate"
                    [(ngModel)]="lenguage === 'en'? section.slides[slidesIndex].h2.en : section.slides[slidesIndex].h2.es">
            </div>
            <div class="form-group">
                <label for="Institution">Company / Institution name</label>
                <input type="text" class="form-control" id="Institution" name="Institution"
                    [(ngModel)]="section.slides[slidesIndex].h4.text">
            </div>
            <div class="form-group">
                <label for="companyImg">Start date </label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                        [(ngModel)]="section.slides[slidesIndex].startDate" ngbDatepicker #d1="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()"
                        type="button"></button>
                </div>
            </div>
            <div class="form-group">
                <label for="companyImg">End date </label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                        [(ngModel)]="section.slides[slidesIndex].endDate" ngbDatepicker #d2="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                        type="button"></button>
                </div>
            </div>
            <button type="submit" class="btn mt-2 btn-primary" (click)="modal.close('Save click')">Submit</button>
        </form>
    </div>
</ng-template>