<main *ngIf="!errorMessage else errorLoading" class="container-fluid m-0 p-0 main-section">
    <div class="row m-0 p-0">
        <div class="col-12 col-lg-3 p-0 m-0">
            <div class="d-lg-none">
                <button class="save-button changeImg save-top-left rounded-circle material-symbols-outlined"
                    [hidden]="!logged" (click)="open(imgSrcModal)">settings</button>
                <img class="mobile imgsToChange edit-content" data-z="412 x 266" alt="Manuel perfil"
                    [src]="section?.imgMobile" id="imgMobileQa">
            </div>
            <div class="d-none d-lg-block">
                <button class="save-button changeImg save-top-left rounded-circle material-symbols-outlined"
                    [hidden]="!logged" (click)="open(imgSrcModal)">settings</button>
                <img class="desktop imgsToChange edit-content" data-z="423 x 756" [src]="section?.imgDesktop"
                    alt="Manuel perfil" id="imgDesktopQa">
            </div>

            <div class="d-flex wrapper-h1-Edit-button">
                <button class="save-button rounded-circle save-top-right material-symbols-outlined" data-id="h1Qual"
                    [hidden]="!logged" (click)="saveH1($event)">save</button>
                <h1 class="edit-content" [class]="{contentEditableTrue:logged}" [contentEditable]="logged" id="h1Qual"
                    [innerHTML]="lenguage === 'en'? section?.en : section?.es"></h1>
            </div>
        </div>
        <div class="swiper col-12 col-lg-9 m-0 p-0">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div *ngFor="let slide of slides, let i=index" class="swiper-slide">
                    <button class="save-button rounded-circle material-symbols-outlined" [attr.data-id]="slide.id"
                        [hidden]="!logged" (click)="saveSlideEl($event)">save</button>
                    <div class="d-flex justify-content-center my-2">
                        <img src="./images/udemy.png" alt="" class="rounded-circle">
                    </div>
                    <h2 class="d-none text-start edit-content" contenteditable="false" id="h2S2QaSpan">
                        Programación
                        Informática
                        <br>07/2022- ~09/2023
                    </h2>
                    <p [innerHTML]="lenguage === 'en'? slide.en : slide.es" class="p-3 m-0 text-center edit-content"
                        [class]="{contentEditableTrue:logged}" [contentEditable]="logged" #p{{i}} [id]="slide.id">
                    </p>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="d-none d-lg-block swiper-button-prev"></div>
            <div class="d-none d-lg-block swiper-button-next"></div>
        </div>
    </div>
</main>
<ng-template #errorLoading>{{errorMessage}}</ng-template>
<ng-template #imgSrcModal let-modal class="imgSrcModal">
    <div class="modal-header">
        <h4 class="modal-title">Set Src</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="saveImgSrc()">
            <div class="form-group">
                <label for="imgMobile">Mobile img src: </label>
                <input type="imgMobile" class="form-control" id="imgMobile" name="imgMobile"
                    [(ngModel)]="section.imgMobile">
            </div>
            <div class="form-group">
                <label for="imgDesktop">Desktop img src: </label>
                <input type="imgDesktop" class="form-control" id="imgDesktop" name="imgDesktop"
                    [(ngModel)]="section.imgDesktop">
            </div>
            <button type="submit" class="btn mt-2 btn-primary" (click)="modal.close('Save click')">Submit</button>
        </form>
    </div>
</ng-template>