// @import '../../../styles.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

//FOR ALL THE material-symbols-outlined
.material-symbols-outlined,
.material-icons {
    font-family: 'Material Symbols Outlined';
}

button[aria-label="create-card"] {
    top: 50%;

    @include media-breakpoint-up(lg) {
        top: 40%;
    }
}

.container-columns {
    height: 100%;
    position: absolute;
    top: 0;
    //z-index: 10;
    width: 100%;

    & h1 {
        font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
        font-size: 9vw;
        color: white;

        @include media-breakpoint-up(lg) {
            font-size: 4.5vw;
        }

    }
}

#main-Half-BackG {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(lg) {
        background-color: rgba(0, 0, 0, 0.6);
        width: 50%;
    }
}



.swiper {
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;
    height: 10vw;

    @include media-breakpoint-up(lg) {
        height: 18vw;
    }

    & .swiper-wrapper {
        height: 100%;
        width: 100%;

        & .swiper-slide {
            width: 100%;
            height: 100%;

            .cardMainPh {
                overflow: auto;
                height: 90%;

                & p {
                    font: 500 16px Montserrat, 'Open Sans', Lato, 'sans-serif';
                    color: white;
                    letter-spacing: 0.2rem;
                    height: 85%;
                }
            }

            &>#delete {
                position: absolute;
                z-index: 11;
                top: 0px;
                left: 85%;
            }

            //PARA LOS LINKS DENTRO DE ESTOS PÁRRAFOS, LOS DEFINÍ DENTRO DE STYLE.SCSS PARA DARLE PRIORIDAD
        }

        // @include media-breakpoint-up(lg) {
        //     height: 15vw;
        // }
    }


    @include media-breakpoint-up(lg) {
        background-color: transparent;
    }



    & .swiper-button-prev,
    .swiper-button-next {
        top: 80%;
        border-radius: 6px;
        outline: 3px solid gray;
        color: red;
        background-color: rgba(124, 128, 149, 0.6901960784);
        box-shadow: 2px 2px 2px grey;

        &:hover {
            border: 2px solid rgb(0, 0, 0)
        }
    }


}

//-------------------TOASTS-------------------
.toast a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}