<!-- main-section  relative -->
<main class="container-fluid m-0 p-0 main-section">
    <img class="d-lg-none mobile imgsToChange edit-content" data-z="912 x 1368" [src]="section.imgMobileHome"
        alt="Manuel perfil" id="imgMobileHome">
    <img class="d-none d-lg-block desktop imgsToChange edit-content" data-z="1920 x 756" [src]="section.imgDesktopHome"
        alt="Manuel perfil" id="imgDesktopHome">
    <!-- <input type="file" accept="image/*" id="changeImg" hidden>
    <button class="edit-button changeImg edit-top-left rounded-circle material-symbols-outlined"
      data-bs-toggle="tooltip" data-bs-title="." data-bs-placement="bottom" data-bs-trigger="manual"
      data-bs-custom-class="innerRed changeImgTool" hidden>upload_file</button> -->

    <!-- container-columns absolute top 0 h100 w100-->
    <div class="row m-0 p-0 container-columns">
        <div class="d-none d-lg-block col-lg-6 m-0 p-0"></div><!-- to allow to split at middle / don't delete-->
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-between m-0 p-0 main-Half-BackG">
            <div class="d-flex flex-fill">
                <h1 class="mx-1 mt-4 edit-content" contenteditable="false" id="h1HomeEn" [innerHTML]="section.h1HomeEn">
                </h1>
                <!-- <button class="edit-button rounded-circle material-symbols-outlined">edit</button> -->
            </div>



            <!-- home-slider w100-->
            <div class="d-flex flex-column flex-fill home-slider">
                <!-- slides relative h10vw/h15vw w100 -->
                <div class="slides flex-fill">
                    <!-- slide aboslute top 0 z10  -->
                    <div class="slide current">
                        <p class="p-3 m-0 text-center edit-content" contenteditable="false" id="p1HomeEn">I'm father,
                            husband👪;
                            fan
                            of the biggest (River Plate) and a big fan of the technologies🤖 and 🕹️Video Games🕹️. I
                            had the
                            opportunity
                            to
                            study Programming at university some years ago, but it was in January 2021 that I first met
                            with modern
                            programming</p>
                        <!-- <button class="edit-button mx-1 rounded-circle material-symbols-outlined">edit</button> -->
                    </div>
                    <div class="slide">
                        <p class="d-none p-3 m-0 text-center edit-content" contenteditable="false" id="p2HomeSpan">
                            TRADUCRI LO DE
                            ABAJO
                        </p>
                        <p class="p-3 m-0 text-center edit-content" contenteditable="false" id="p2HomeEn">Since that
                            time I have
                            been studying and
                            developing some stuff in Js and friends.<br><a href="https://github.com/m32795434"> Check it
                                on
                                GitHub here!🫡</a><br>

                        </p>
                        <!-- <button class="edit-button mx-1 rounded-circle material-symbols-outlined">edit</button> -->
                    </div>
                    <div class="slide">
                        <p class="p-3 m-0 text-center edit-content" contenteditable="false" id="p3HomeEn">This is an own
                            project🧰,
                            written from scratch in JavaScript<svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-javascript" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="yellow" fill="black" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path>
                                <path d="M7.5 8h3v8l-2 -1"></path>
                                <path
                                    d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5">
                                </path>
                            </svg> and some Bootstrap<svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-bootstrap" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="blue" fill="white" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M2 12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2">
                                </path>
                                <path d="M2 12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2">
                                </path>
                                <path d="M9 16v-8h3.5a2 2 0 1 1 0 4h-3.5h4a2 2 0 1 1 0 4h-4z"></path>
                            </svg>+Icons<svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-tabler" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 9l3 3l-3 3"></path>
                                <path d="M13 15l3 0"></path>
                                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z">
                                </path>
                            </svg>. No Frameworks. <b>No other third-party
                                resources</b></p>
                        <!-- <button class="edit-button mx-1 rounded-circle material-symbols-outlined">edit</button> -->
                    </div>
                    <div class="slide">
                        <p class="p-3 m-0 text-center edit-content" contenteditable="false" id="p4HomeEn">All the
                            technologies
                            that were applied
                            are listed in every page of the site. <a
                                href="https://github.com/m32795434/Portfolio-YoProgramo-MaquetadoFront">
                                With
                                this
                                link </a> you can check the Github repository😁. Enjoy it!</p>
                        <!-- <button class="edit-button mx-1 rounded-circle material-symbols-outlined">edit</button> -->
                    </div>
                    <div class="slide">
                        <p class="p-3 m-0 text-center edit-content" contenteditable="false" id="p5HomeEn">
                            These are the technologies I use!<br><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-javascript" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="yellow" fill="black" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path>
                                <path d="M7.5 8h3v8l-2 -1"></path>
                                <path
                                    d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5">
                                </path>
                            </svg><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-database"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 6m-8 0a8 3 0 1 0 16 0a8 3 0 1 0 -16 0"></path>
                                <path d="M4 6v6a8 3 0 0 0 16 0v-6"></path>
                                <path d="M4 12v6a8 3 0 0 0 16 0v-6"></path>
                            </svg>Languages - Databases:<br>
                            JavaScript - Typescript - Sass - HTML - Angular - Node.js - Java - Git - SQL- MongoDB -
                            MySQL<br>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-figma"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="red" fill="#266bd3"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M15 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                <path d="M6 3m0 3a3 3 0 0 1 3 -3h6a3 3 0 0 1 3 3v0a3 3 0 0 1 -3 3h-6a3 3 0 0 1 -3 -3z">
                                </path>
                                <path d="M9 9a3 3 0 0 0 0 6h3m-3 0a3 3 0 1 0 3 3v-15"></path>
                            </svg>🎨Design Tools:<br>
                            Figma - Pixlr - Clipchamp - Movavi - Obs - Audacity
                            <!-- <button class="edit-button mx-1 rounded-circle material-symbols-outlined">edit</button> -->
                    </div>
                    <div class="slide">
                        <p class="p-3 m-0 text-center edit-content" contenteditable="false" id="p6HomeEn">
                            📒Libraries:<br> Bootstrap - Date-fns - Lodash - Parcel - WebPack - Axios - Await-to-js
                            -
                            Mongoose - Bootswatch - ngx-bootstrap - nodemon - morgan -Cors - Express.<br>
                    </div>
                    <div class="slide">
                        <p class="p-3 m-0 text-center edit-content" contenteditable="false" id="p7HomeEn">
                            ⚒️<svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-github-copilot" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 18v-5.5c0 -.667 .167 -1.333 .5 -2"></path>
                                <path
                                    d="M12 7.5c0 -1 -.01 -4.07 -4 -3.5c-3.5 .5 -4 2.5 -4 3.5c0 1.5 0 4 3 4c4 0 5 -2.5 5 -4z">
                                </path>
                                <path
                                    d="M4 12c-1.333 .667 -2 1.333 -2 2c0 1 0 3 1.5 4c3 2 6.5 3 8.5 3s5.499 -1 8.5 -3c1.5 -1 1.5 -3 1.5 -4c0 -.667 -.667 -1.333 -2 -2">
                                </path>
                                <path d="M20 18v-5.5c0 -.667 -.167 -1.333 -.5 -2"></path>
                                <path
                                    d="M12 7.5l0 -.297l.01 -.269l.027 -.298l.013 -.105l.033 -.215c.014 -.073 .029 -.146 .046 -.22l.06 -.223c.336 -1.118 1.262 -2.237 3.808 -1.873c2.838 .405 3.703 1.797 3.93 2.842l.036 .204c0 .033 .01 .066 .013 .098l.016 .185l0 .171l0 .49l-.015 .394l-.02 .271c-.122 1.366 -.655 2.845 -2.962 2.845c-3.256 0 -4.524 -1.656 -4.883 -3.081l-.053 -.242a3.865 3.865 0 0 1 -.036 -.235l-.021 -.227a3.518 3.518 0 0 1 -.007 -.215z">
                                </path>
                                <path d="M10 15v2"></path>
                                <path d="M14 15v2"></path>
                            </svg>Others:<br>
                            GitHub - SCRUM - Heroku - Googe Cloud - Vs Code - IntelliJ IDEA - Netlify - StackBlitz
                            <br><a href="https://www.linkedin.com/in/manubravard/" alt="Follow me on Linkedin"> Follow
                                me on </a><svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="#266bd3"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z">
                                </path>
                                <path d="M8 11l0 5"></path>
                                <path d="M8 8l0 .01"></path>
                                <path d="M12 16l0 -5"></path>
                                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                            </svg>
                        </p>
                        <!-- <button class="edit-button mx-1 rounded-circle material-symbols-outlined">edit</button> -->
                    </div>

                </div>
                <!-- <div class="d-flex flex-wrap justify-content-center slider-buttons">
            <button type="button" class="btn material-symbols-outlined" id="skip_previous">skip_previous</button>
            <button type="button" class="btn material-symbols-outlined" id="play_pause">play_pause</button>
            <button type="button" class="btn material-symbols-outlined" id="skip_next">skip_next</button>
          </div> -->
            </div>



        </div>
    </div>
</main>