<!-- main-section  relative -->
<main *ngIf="!errorMessage else errorLoading" class="container-fluid m-0 p-0 main-section">
    <button [hidden]="!(logged && level =='root')" id="createCard" type="button"
        class="d-lg-none save-button save-right rounded-circle material-symbols-outlined" aria-label="create-card"
        (click)="open(createCardModal, 'create-new-card')">library_add</button>
    <div class="d-lg-none">
        <button class="save-button   save-top save-left rounded-circle material-symbols-outlined"
            [hidden]="!(logged && (level =='root' || level=='level_1'))"
            (click)="open(imgSrcModal, 'image-source')">settings</button>
        <img class="mobile imgsToChange edit-content" data-z="912 x 1368" [src]="sectionAndCards?.section.imgMobile"
            alt="Manuel perfil" id="imgMobileHome">
    </div>
    <div class="d-none d-lg-block">
        <button class="save-button   save-top save-left rounded-circle material-symbols-outlined"
            [hidden]="!(logged && (level =='root' || level=='level_1'))"
            (click)="open(imgSrcModal, 'image-source')">settings</button>
        <img class="desktop imgsToChange edit-content" data-z="1920 x 756" [src]="sectionAndCards?.section.imgDesktop"
            alt="Manuel perfil" id="imgDesktopHome">
    </div>

    <!-- container-columns absolute top 0 h100 w100-->
    <div class="row m-0 p-0 container-columns">
        <div class="d-none d-lg-block col-lg-6 m-0 p-0" style="width: 50%;"></div>
        <!-- to allow to split at middle / don't delete-->
        <div class="d-flex flex-column justify-content-between m-0 p-0" id="main-Half-BackG">
            <button [hidden]="!(logged && level =='root')" id="createCard" type="button"
                class="save-button save-right rounded-circle material-symbols-outlined" aria-label="create-card"
                (click)="open(createCardModal, 'create-new-card')">library_add</button>
            <div class="d-flex flex-fill">
                <button class="save-button rounded-circle save-top save-right material-symbols-outlined"
                    data-id="h1HomeEn" [hidden]="!(logged && level =='root')" (click)="saveH1($event)">save</button>
                <h1 class="mx-1 mt-4 edit-content" [class]="{contentEditableTrue:logged && level==='root'}"
                    [contentEditable]="logged && level==='root'" id="h1HomeEn"
                    [innerHTML]="language === 'en'? sectionAndCards?.section.en : sectionAndCards?.section.es" #h1>
                </h1>
            </div>

            <div class="swiper flex-fill">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Cards -->
                    <div *ngFor="let card of sectionAndCards.cards, let i=index" class="swiper-slide">
                        <button class="save-button save-left rounded-circle material-symbols-outlined"
                            [hidden]="!(logged && level =='root')" (click)="open(updateCardModal,'Update-Card' ,i)"
                            aria-label="Update-Card">settings</button>
                        <button [hidden]="!(logged && level =='root')" type="button" id="delete"
                            class="save-button save-right rounded-circle material-symbols-outlined"
                            aria-label="Delete-card" (click)="open(confirmDelete,'delete the card?' ,i)">delete</button>
                        <div class="cardMainPh">
                            <p [innerHTML]="language === 'en'? card.ph.en : card.ph.es" class="p-3 m-0 text-center"
                                #p{{i}} [id]="card.id">
                            </p>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</main>
<ng-template #errorLoading>{{errorMessage}}</ng-template>
<ng-template #imgSrcModal let-modal class="#">
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language === 'en'? 'Image Url: ' : 'Url de la Imagen: '}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="saveImgSrc()">
                <div class="form-group">
                    <label for="imgMobile">{{language === 'en'? 'Mobile: ' : 'Dispositivos Portátiles: '}}</label>
                    <input type="imgMobile" class="form-control" id="imgMobile" name="imgMobile"
                        [(ngModel)]="sectionAndCards.section.imgMobile">
                </div>
                <div class="form-group mt-2">
                    <label for="imgDesktop">{{language === 'en'? 'Desktop: ' : 'Escritorio: '}}</label>
                    <input type="imgDesktop" class="form-control" id="imgDesktop" name="imgDesktop"
                        [(ngModel)]="sectionAndCards.section.imgDesktop">
                </div>
                <button type="submit" class="btn mt-2 btn-primary mt-2"
                    (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #createCardModal let-modal class="#">
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language==='en'?'Create new Card':'Crear Nueva Tarjeta'}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="createCard()">
                <div class="form-group mt-2">
                    <label for="description">{{language === 'en'? 'Description (en): ' : 'Descripción (en): '}}</label>
                    <input type="text" class="form-control" id="description" name="description"
                        [(ngModel)]="newCard.ph.en">
                </div>
                <div class="form-group mt-2">
                    <label for="descripcion">{{language === 'en'? 'Description (es): ' : 'Descripción (es): '}}</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                        [(ngModel)]="newCard.ph.es">
                </div>
                <button type="submit" class="btn mt-2 btn-primary"
                    (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #updateCardModal let-modal class="#">
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language==='en'?'Update Card':'Actualizar Tarjeta'}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateCard()">
                <div class="form-group mt-2">
                    <label for="description">{{language === 'en'? 'Description (en): ' : 'Descripción (en): '}}</label>
                    <input type="text" class="form-control" id="description" name="description"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].ph.en">
                </div>
                <div class="form-group mt-2">
                    <label for="descripcion">{{language === 'en'? 'Description (es): ' : 'Descripción (es): '}}</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].ph.es">
                </div>
                <button type="submit" class="btn mt-2 btn-primary"
                    (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #confirmDelete let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language === 'en'? 'Delete?' : 'Eliminar?'}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{language === 'en'? 'Are you sure you want to delete?' : 'Está seguro de que desea eliminar?'}}</p>
        </div>
        <div class="modal-footer d-grid align-content-center justify-content-center">
            <form (ngSubmit)="deleteCard()">
                <button type="button" class="btn btn-secondary material-symbols-outlined" aria-label="Cancel"
                    (click)="modal.dismiss('Cancel')">
                    cancel
                </button>
                <button type="submit" class="btn mx-2 btn-danger material-symbols-outlined" aria-label="Delete"
                    (click)="modal.close('Delete')">delete</button>
            </form>
        </div>
    </div>
</ng-template>