// @import '../../../styles.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

//FOR ALL THE material-symbols-outlined
.material-symbols-outlined,
.material-icons {
    font-family: 'Material Symbols Outlined';
}

.container-columns {
    height: 100%;
    position: absolute;
    top: 0;
    //z-index: 10;
    width: 100%;

    & h1 {
        font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
        font-size: 9vw;
        color: white;

        @include media-breakpoint-up(lg) {
            font-size: 4.5vw;
        }

    }
}

#main-Half-BackG {
    width: 100%;

    @include media-breakpoint-up(lg) {
        background-color: rgba(0, 0, 0, 0.6);
        width: 50%;
    }
}



.swiper {
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;

    & .swiper-wrapper {
        height: 10vw;
        width: 100%;

        & .swiper-slide {
            width: 100%;

            &>p {
                font: 500 16px Montserrat, 'Open Sans', Lato, 'sans-serif';
                color: white;
                letter-spacing: 0.2rem;

                @include media-breakpoint-up(lg) {
                    font-size: 1.3vw;
                }

                @media (max-width: 410px) {
                    font-size: 14px;

                }
            }

            & button {
                position: absolute;
                z-index: 11;
                top: 0px;
                left: 5px;
                opacity: 0.8;
            }

            //PARA LOS LINKS DENTRO DE ESTOS PÁRRAFOS, LOS DEFINÍ DENTRO DE STYLE.SCSS PARA DARLE PRIORIDAD
        }

        @include media-breakpoint-up(lg) {
            height: 15vw;
        }
    }


    @include media-breakpoint-up(lg) {
        background-color: transparent;
    }



    & .swiper-button-prev,
    .swiper-button-next {
        top: 80%;
        border-radius: 6px;
        outline: 2px solid gray;
        color: red;
        background-color: rgba(124, 128, 149, 0.6901960784);
        box-shadow: 2px 2px 2px grey;

        &:hover {
            border: 2px solid rgb(0, 0, 0)
        }
    }


}

//-------------------TOASTS-------------------
.toast a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}