.imgTitleWrapper {
    height: 65vw;

    @include media-breakpoint-up(lg) {
        height: 44vw;
    }

    #imgDesktopSkills {
        max-height: 44vw;
    }

    #imgMobileSkills {
        max-height: 65vw;
    }
}

.skillsCardWrapper {
    width: 100%;
    height: 44vw;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    & .myCard {
        width: 100%;
        background-color: #f7f7f7;
        height: 21em;
        position: relative;
        border: 2px solid grey;
        box-shadow: 1px 1px 5px 2px #0a0202;

    }
}

.swiper.skillsSwiper {
    width: 100%;
    background-color: #fed258;
    height: 351px;

    & .swiper-wrapper {
        height: 317px;
        width: 100%;
        gap: 2%;
        padding: 0 0 1% 1%;

        & .swiper-slide {
            width: 98% !important;
            height: 19em;
            background-color: #f7f7f7;
            border: 2px solid grey;
            box-shadow: 1px 1px 5px 2px grey;
        }
    }
}

mat-slider {
    width: 300px;
}