.skillsCardWrapper {
    width: 100%;
    height: 44vw;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    & .myCard {
        width: 100%;
        background-color: #f7f7f7;
        height: 21em;
        position: relative;
        border: 2px solid grey;
        box-shadow: 1px 1px 5px 2px #0a0202;

    }
}

.skillsSwiper {

    & .swiper-wrapper {
        height: 317px;

        & .swiper-slide {
            height: 19em;
            background-color: #f7f7f7;
            border: 2px solid grey;
            box-shadow: 1px 1px 5px 2px grey;

        }
    }
}

mat-slider {
    width: 300px;
}