<main *ngIf="!errorMessage else errorLoading" class="container-fluid m-0 p-0 main-section">
    <div class="d-flex flex-column w-100 flex-lg-row m-0 p-0">
        <div class="col-12 col-lg-3 flex-fill p-0 m-0 imgTitleWrapper">
            <div class="d-lg-none">
                <button class="save-button   save-top save-left rounded-circle material-symbols-outlined"
                    [hidden]="!logged" (click)="open(mainImgSrcModal, 'change image src')"
                    aria-label="Change main image source">settings</button>
                <img class="mobile imgsToChange edit-content" data-z="412 x 266" alt="Manuel perfil"
                    [src]="sectionAndCards?.section.imgMobile" id="imgMobileQa">
            </div>
            <div class="d-none d-lg-block">
                <button class="save-button   save-top save-left rounded-circle material-symbols-outlined"
                    [hidden]="!logged" (click)="open(mainImgSrcModal, 'change image src')"
                    aria-label="Change main image source">settings</button>
                <img class="desktop imgsToChange edit-content" data-z="423 x 756"
                    [src]="sectionAndCards?.section.imgDesktop" alt="Manuel perfil" id="imgDesktopQa">
            </div>
            <div class="d-flex wrapper-h1-save">
                <button class="save-button rounded-circle save-top save-right material-symbols-outlined"
                    data-id="h1Qual" [hidden]="!logged" (click)="saveH1($event)"
                    aria-label="Change Section title">save</button>
                <h1 class="edit-content" [class]="{contentEditableTrue:logged}" [contentEditable]="logged" id="h1Qual"
                    [innerHTML]="language === 'en'? sectionAndCards.section.en : sectionAndCards.section.es"></h1>
            </div>
            <button [hidden]="!logged" id="createCard" type="button"
                class="save-button rounded-circle material-symbols-outlined" aria-label="Delete card"
                (click)="open(createCardModal, 'create-new-card')">library_add</button>
        </div>
        <div class="d-none d-lg-block col-lg-9 flex-fill m-0 p-0">
            <div class="cardWrapper d-grid m-0 p-2 gap-3">
                <div *ngFor="let card of sectionAndCards.cards, let i=index"
                    class="d-grid justify-content-center align-content-center myCard card">
                    <button class="save-button save-left rounded-circle material-symbols-outlined" [hidden]="!logged"
                        (click)="open(updateCardModal,'change card header' ,i)"
                        aria-label="Change card header and image">settings</button>
                    <button [hidden]="!logged" type="button"
                        class="save-button save-right rounded-circle material-symbols-outlined" aria-label="Delete card"
                        (click)="open(confirmDelete,'confirm delete?' ,i)">delete</button>
                    <circle-progress tabindex="0"
                        [attr.aria-label]="language==='en'? card.img.alt.en+': ' : card.img.alt.es+': ' +card.value"
                        [showImage]="true" [percent]="card.value" [outerStrokeColor]="card.outStrokeColor"
                        [backgroundColor]="card.bkColor" [animation]="true" [animationDuration]="500"
                        [imageSrc]="card.img.src" [imageHeight]="100" [imageWidth]="100"></circle-progress>
                    <span>{{language==='en'? card.img.alt.en+': ' + card.value+'%': card.img.alt.es+': ' +
                        card.value+'%'}}</span>
                </div>
            </div>
        </div>
        <div class="swiper flex-fill d-lg-none w-100 col-12 m-0 p-0">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper w-100 p-2 gap-3">
                <!-- Cards -->
                <div *ngFor="let card of sectionAndCards.cards, let i=index" class="swiper-slide w-100 card">
                    <div class="d-grid justify-content-center align-content-center">
                        <button type="button" class="save-button save-left rounded-circle material-symbols-outlined"
                            [hidden]="!logged" (click)="open(updateCardModal, 'change card header ',i)"
                            aria-label="Change card header and image">settings</button>
                        <button [hidden]="!logged" type="button"
                            class="save-button save-right rounded-circle material-symbols-outlined"
                            aria-label="Delete card" (click)="open(confirmDelete,'delete the card?' ,i)">delete</button>
                        <circle-progress tabindex="0"
                            [attr.aria-label]="language==='en'? card.img.alt.en+': ' : card.img.alt.es+': ' +card.value"
                            [showImage]="true" [percent]="card.value" [outerStrokeColor]="card.outStrokeColor"
                            [backgroundColor]="card.bkColor" [animation]="true" [animationDuration]="500"
                            [imageSrc]="card.img.src" [imageHeight]="100" [imageWidth]="100"></circle-progress>
                        <span>{{language==='en'? card.img.alt.en+': ' + card.value+'%': card.img.alt.es+': ' +
                            card.value+'%'}}</span>
                    </div>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</main>

<ng-template #errorLoading>{{errorMessage}}</ng-template>
<ng-template #mainImgSrcModal let-modal class="#">
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language === 'en'? 'Image Url: ' : 'Url de la Imagen: '}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateCard()">
                <div class="form-group">
                    <label for="imgMobile">{{language === 'en'? 'Mobile: ' : 'Dispositivos Portátiles: '}}</label>
                    <input type="text" class="form-control" id="imgMobile" name="imgMobile"
                        [(ngModel)]="sectionAndCards.section.imgMobile">
                </div>
                <div class="form-group mt-2">
                    <label for="imgDesktop">{{language === 'en'? 'Desktop: ' : 'Escritorio: '}}</label>
                    <input type="text" class="form-control" id="imgDesktop" name="imgDesktop"
                        [(ngModel)]="sectionAndCards.section.imgDesktop">
                </div>
                <button type="submit" class="btn mt-2 btn-primary"
                    (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #updateCardModal let-modal class="#">
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language === 'en'? 'Update Skill: ' : 'Actualizar Habilidad: '}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateCard()">
                <div class="form-group">
                    <label for="skillImg">{{language === 'en'? 'Image Url: ' : 'Url de la Imagen: '}}</label>
                    <input type="text" class="form-control" id="skillImg" name="skillImg"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].img.src">
                </div>
                <div class="d-flex justify-content-between mt-2 gap-1">
                    <div class="form-group">
                        <label for="imgAltEn">{{language === 'en'? 'Skill Name (en): ' : 'Nombre de la Habilidad (en):
                            '}}</label>
                        <input type="text" class="form-control" id="imgAltEn" name="imgAltEn"
                            [(ngModel)]="sectionAndCards.cards[cardsIndex].img.alt.en">
                    </div>
                    <div class="form-group">
                        <label for="imgAltEs">{{language === 'en'? 'Skill Name (es): ' : 'Nombre de la Habilidad (es):
                            '}}</label>
                        <input type="text" class="form-control" id="imgAltEs" name="imgAltEs"
                            [(ngModel)]="sectionAndCards.cards[cardsIndex].img.alt.es">
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="value">{{language === 'en'? 'Skill level: ' : 'Nivel en la habilidad:
                        '}}</label>
                    <mat-slider discrete>
                        <input matSliderThumb [value]="sectionAndCards.cards[cardsIndex].value"
                            [(ngModel)]="sectionAndCards.cards[cardsIndex].value" class="form-control" id="value"
                            name="value">
                    </mat-slider>
                </div>
                <div class="d-flex justify-content-between mt-2 gap-1">
                    <div class=" form-group">
                        <label for="bkColor">{{language === 'en'? 'Background color: ' : 'Color de fondo:
                            '}}</label>
                        <input type="text" class="form-control" id="bkColor" name="bkColor"
                            [(ngModel)]="sectionAndCards.cards[cardsIndex].bkColor">
                    </div>
                    <div class="form-group">
                        <label for="outStrokeColor">{{language === 'en'? 'Progress bar color: ' : 'Color de la barra:
                            '}}</label>
                        <input type="text" class="form-control" id="outStrokeColor" name="outStrokeColor"
                            [(ngModel)]="sectionAndCards.cards[cardsIndex].outStrokeColor">
                    </div>
                </div>
                <button type="submit" class="btn mt-2 btn-primary mt-2"
                    (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #confirmDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete?</p>
    </div>
    <div class="modal-footer d-grid align-content-center justify-content-center">
        <form (ngSubmit)="deleteCard()">
            <button type="button" class="btn btn-secondary material-symbols-outlined" aria-label="Cancel"
                (click)="modal.dismiss('Cancel')">
                cancel
            </button>
            <button type="submit" class="btn mx-2 btn-danger material-symbols-outlined" aria-label="Delete"
                (click)="modal.close('Delete')">delete</button>
        </form>
    </div>
</ng-template>
<ng-template #createCardModal let-modal class="#">
    <div class="modal-header">
        <h4 class="modal-title">{{language==='en'?'New Skill':'Nueva Habilidad'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="createCard()">
            <div class="form-group">
                <label for="skillImg">{{language === 'en'? 'Image Url: ' : 'Url de la Imagen: '}}</label>
                <input type="text" class="form-control" id="skillImg" name="skillImg" [(ngModel)]="newCard.img.src">
            </div>
            <div class="d-flex justify-content-between mt-2 gap-1">
                <div class="form-group">
                    <label for="imgAltEn">{{language === 'en'? 'Skill Name (en): ' : 'Nombre de la Habilidad (en):
                        '}}</label>
                    <input type="text" class="form-control" id="imgAltEn" name="imgAltEn"
                        [(ngModel)]="newCard.img.alt.en">
                </div>
                <div class="form-group">
                    <label for="imgAltEs">{{language === 'en'? 'Skill Name (es): ' : 'Nombre de la Habilidad (es):
                        '}}</label>
                    <input type="text" class="form-control" id="imgAltEs" name="imgAltEs"
                        [(ngModel)]="newCard.img.alt.es">
                </div>
            </div>
            <div class="form-group">
                <label for="value">{{language === 'en'? 'Skill level: ' : 'Nivel en la habilidad:
                    '}}</label>
                <mat-slider discrete>
                    <input matSliderThumb [(ngModel)]="newCard.value" class="form-control" id="value" name="value">
                </mat-slider>
            </div>
            <button type="submit" class="btn mt-2 btn-primary"
                (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
        </form>
    </div>
</ng-template>