@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

//FOR ALL THE material-symbols-outlined
.material-symbols-outlined,
.material-icons {
    font-family: 'Material Symbols Outlined';
}

.mainProjects {
    position: relative;


    // height: 500px;  // desactivado!

    // solo por el color
    & .allSizesWrapper {
        background-color: #d9d9d9;
        // height: 100%;
        // @include media-breakpoint-up(lg) {
        //     height: 100%;
        // }

        // @include media-breakpoint-up(lg) {
        //     display: flex;
        // }

        & .titleWrapper {
            position: relative;
            background-color: #D9D9D9;
            height: 20%;

            @include media-breakpoint-up(lg) {
                height: 100%;
            }
        }

        // no se utiliza!!!
        & .projectsWrapper {
            background-color: #212529;
            flex-grow: 1;
            height: 80%;

            @include media-breakpoint-up(lg) {
                height: 100%;
            }
        }
    }

}

#h1Proj {
    font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
    font-size: 28px;
    color: #1f1d1dae;
    font-weight: 600;
    padding: 21px 13px 13px 7px;
}

.cardWrapper {
    width: 100%;
    height: 44vw;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    & .myCard {
        width: 100%;
        background-color: #f7f7f7;
        height: 30em;
        position: relative;
        border: 2px solid grey;
        box-shadow: 1px 1px 5px 2px #0a0202;


        & video {
            width: 100%;
            height: auto;
            box-shadow: 5px 5px grey;
        }

        & button {
            opacity: 0.8;
        }
    }
}

.swiper {
    // width: 100%;

    & .swiper-wrapper {
        height: 530px;


        & .swiper-slide {
            // width: 100%;
            background-color: #f7f7f7;
            border: 2px solid grey;
            box-shadow: 1px 1px 5px 2px grey;

            & button {
                opacity: 0.8;
            }

            & video {
                width: 100px;
                height: 100px;
                box-shadow: 5px 5px grey;
            }


        }
    }

    & .swiper-button-prev,
    .swiper-button-next {
        top: 80%;
        border-radius: 6px;
        outline: 3px solid gray;
        color: red;
        background-color: rgba(124, 128, 149, 0.6901960784);
        box-shadow: 2px 2px 2px grey;

        &:hover {
            border: 2px solid rgb(0, 0, 0)
        }
    }
}

.cardTitleDateWrapper {
    color: #5A5A5A;
    background-color: white;
    padding: 17px 0 9px 13px;

    &>h2 {
        font-size: 19px;
        font-weight: 500;
    }

    &>h4,
    &>p {
        font-size: 17px;
        font-weight: 200;
    }
}

.cardMainPh {
    &>p {
        font: 500 16px Roboto, Montserrat, 'Open Sans', Lato, 'sans-serif';
        color: #5A5A5A;
        line-height: 1.5;

        @media (max-width: 410px) {
            font-size: 14px;
        }
    }
}

// .offcanvas,
// .offcanvas-body {
//     --bs-offcanvas-width: 100%;
// }

// button[data-bs-toggle="offcanvas"] {
//     border-radius: 9px;
//     font-family: 'Roboto', sans-serif;
//     font-size: 23px;
//     width: 340px;
//     height: 65px;


//     @include media-breakpoint-up(lg) {
//         width: 380px;
//         font-size: 26px;
//         height: 76px;

//     }
// }


// esto era para la coleccion de botones que dirijían a los projects!!!
// .btn {
//     border-radius: 9px;
//     font-family: 'Roboto', sans-serif;
//     font-size: 20px;
//     width: 340px;
//     height: 65px;

//     @include media-breakpoint-up(lg) {
//         // font-size: 26px;
//         width: 380px;
//         height: 76px;

//     }
// }