<main *ngIf="!errorMessage else errorLoading" class="container-fluid m-0 p-0 mainProjects">
    <div class="d-flex flex-column w-100 flex-lg-row m-0 p-0 allSizesWrapper">
        <div class="p-0 m-0 titleWrapper">
            <button class="save-button rounded-circle save-top save-right material-symbols-outlined" data-id="h1Proj"
                [hidden]="!logged" (click)="saveH1($event)">save</button>
            <!-- <input type="file" accept="image/*" id=" " hidden>
            <button class="edit-button edit-top-left   rounded-circle material-symbols-outlined"
                hidden>edit</button> -->
            <h1 class="edit-content" [class]="{contentEditableTrue:logged}" [contentEditable]="logged" id="h1Proj"
                [innerHTML]="language === 'en'? sectionAndCards?.section?.en : sectionAndCards?.section?.es"></h1>
            <button [hidden]="!logged" id="createCard" type="button"
                class="save-button save-right rounded-circle material-symbols-outlined" aria-label="create-card"
                (click)="open(createCardModal, 'create new card')">library_add</button>
        </div>
        <div class="d-none d-lg-block m-0 p-0 projectsWrapper">
            <div class="cardsWrapper d-grid m-0 p-2 gap-3">
                <div *ngFor="let card of sanitizedCards, let i=index" class="myCard card">
                    <div class="d-flex justify-content-center m-0 p-0 iframeWrapper">
                        <button class="save-button save-left rounded-circle material-symbols-outlined"
                            [hidden]="!logged" (click)="open(updateCardModal,'change card header' ,i)"
                            aria-label="Change card header and image">settings</button>
                        <button [hidden]="!logged" type="button"
                            class="save-button save-right rounded-circle material-symbols-outlined"
                            aria-label="Delete card" (click)="open(confirmDelete,'confirm delete?' ,i)">delete</button>
                        <!-- (click)="toggleVideo($event)" (focus)="toggleVideo($event)"(blur)="toggleVideo($event)" -->
                        <!-- autoplay loop muted  -->
                        <iframe [src]="card.vMp4Src" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                            <source [src]="card.vWebSrc" type="video/webm" />
                            <source [src]="card.vMp4Src" type="video/mp4" />
                            {{language === 'en'? 'Your browser doesn't support webm or mp4 videos' : 'Tu explorador no
                            soporta videos webm o mp4'}}
                        </iframe>
                    </div>
                    <div class="cardTitleDateWrapper">
                        <h2 class="text-start edit-content" [innerHTML]="card.h2[language==='en'?'en':'es']">
                        </h2>
                        <p class="m-0">
                            {{card.startDate.month}}/{{card.startDate.year}}-{{card.endDate.month}}/{{card.endDate.year}}
                        </p>
                    </div>
                    <div class="cardDesc">
                        <ng-scrollbar class="my-scrollbar">
                            <p [innerHTML]="card.ph[language==='en'?'en':'es']" class="p-3 m-0 text-center" #p{{i}}
                                [id]="card.id">
                            </p>
                        </ng-scrollbar>
                    </div>
                    <div class="d-flex flex-wrap justify-content-end align-content-center gap-2 mx-2 mt-1 linksWrapper">
                        <a [href]="card.codeUrl">{{language === 'en'? 'Go to code!' :
                            'Ir al Codigo'}}</a>
                        <a [href]="card.deployUrl">{{language === 'en'? 'Go
                            Live!' :
                            'Ir
                            al
                            sitio!'}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper d-lg-none w-100 m-0 p-0">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper w-100 p-2 gap-3">
                <!-- Cards -->
                <div *ngFor="let card of sanitizedCards, let i=index" class="swiper-slide w-100 card">
                    <div class="d-flex justify-content-center my-2 iframeWrapper">
                        <button type="button" class="save-button save-left rounded-circle material-symbols-outlined"
                            [hidden]="!logged" (click)="open(updateCardModal, 'change card header ',i)"
                            aria-label="Change card header and image">settings</button>
                        <button [hidden]="!logged" type="button"
                            class="save-button save-right rounded-circle material-symbols-outlined"
                            aria-label="Delete card" (click)="open(confirmDelete,'delete the card?' ,i)">delete</button>
                        <iframe [src]="card.vMp4Src" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                            <source [src]="card.vWebSrc" type="video/webm" />
                            <source [src]="card.vMp4Src" type="video/mp4" />
                            {{language === 'en'? 'Your browser doesn't support webm or mp4 videos' : 'Tu explorador no
                            soporta videos webm o mp4'}}
                        </iframe>
                    </div>
                    <div class="cardTitleDateWrapper">
                        <h2 class="text-start edit-content" [innerHTML]="card.h2[language==='en'?'en':'es']">
                        </h2>
                        <p>{{card.startDate.month}}/{{card.startDate.year}}-{{card.endDate.month}}/{{card.endDate.year}}
                        </p>
                    </div>
                    <div class="cardDesc">
                        <p [innerHTML]="language === 'en'? card.ph.en : card.ph.es" class="p-3 m-0 text-center" #p{{i}}
                            [id]="card.id+i">
                        </p>
                    </div>
                    <div class="d-flex flex-wrap justify-content-end align-content-center gap-2 mx-2 mt-1 linksWrapper">
                        <a [href]="card.codeUrl">{{language === 'en'? 'Go to code!' : 'Go
                            Live!'}}</a>
                        <a [href]="card.deployUrl">{{language === 'en'? 'Ver el código!' :
                            'Ir
                            al
                            sitio!'}}</a>
                    </div>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</main>
<ng-template #errorLoading>{{errorMessage}}</ng-template>
<ng-template #updateCardModal let-modal class="#">
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language === 'en'? 'Update Card' : 'Actualizar tarjeta'}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateCard()">
                <div class="form-group">
                    <label for="webmVideoUrl">{{language === 'en'? 'webm Video Url: ' : 'Url del Video webm: '}}</label>
                    <input type="text" class="form-control" id="webmVideoUrl" name="webmVideoUrl"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].vWebSrc">
                </div>
                <div class="form-group">
                    <label for="mp4VideoUrl">{{language === 'en'? 'mp4 Video Url: ' : 'Url del Video mp4: '}}</label>
                    <input type="text" class="form-control" id="mp4VideoUrl" name="mp4VideoUrl"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].vMp4Src">
                </div>
                <div class="form-group mt-2">
                    <label for="title">{{language === 'en'? 'Project title (en): ' : 'Título del Proyecto
                        (en):
                        '}}</label>
                    <input type="text" class="form-control" id="title" name="title"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].h2.en">
                </div>
                <div class="form-group mt-2">
                    <label for="titulo">{{language === 'en'? 'Project title (es): ' : 'Título del Proyecto
                        (es):
                        '}}</label>
                    <input type="text" class="form-control" id="titulo" name="titulo"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].h2.es">
                </div>
                <div class="d-flex gap-1 mt-2">
                    <div class="form-group flex-fill">
                        <label for="d1">{{language === 'en'? 'Start Date: ' : 'Fecha de Inicio: '}}</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="d1"
                                [(ngModel)]="sectionAndCards.cards[cardsIndex].startDate" ngbDatepicker
                                #d1="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                    <div class="form-group flex-fill">
                        <label for="d2">{{language === 'en'? 'End Date: ' : 'Fecha Fin: '}}</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="d2"
                                [(ngModel)]="sectionAndCards.cards[cardsIndex].endDate" ngbDatepicker
                                #d2="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="descripcion">{{language === 'en'? 'Project description (es): ' : 'Descripción del
                        Proyecto
                        (es):
                        '}}</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].ph.es">
                </div>
                <div class="form-group mt-2">
                    <label for="description">{{language === 'en'? 'Project description (en): ' : 'Descripción del
                        Proyecto
                        (en):
                        '}}</label>
                    <input type="text" class="form-control" id="description" name="description"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].ph.en">
                </div>
                <div class="form-group mt-2">
                    <label for="deployUrl">{{language === 'en'? 'Deploy Url: ' : 'Url del Deploy:
                        '}}</label>
                    <input type="text" class="form-control" id="deployUrl" name="deployUrl"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].deployUrl">
                </div>
                <div class="form-group mt-2">
                    <label for="codeUrl">{{language === 'en'? 'Code Url: ' : 'Url del Código:
                        '}}</label>
                    <input type="text" class="form-control" id="codeUrl" name="codeUrl"
                        [(ngModel)]="sectionAndCards.cards[cardsIndex].codeUrl">
                </div>
                <button type="submit" class="btn mt-2 btn-primary mt-2"
                    (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #confirmDelete let-modal>
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language === 'en'? 'Delete?' : 'Eliminar?'}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{language === 'en'? 'Are you sure you want to delete?' : 'Está seguro de que desea eliminar?'}}</p>
        </div>
        <div class="modal-footer d-grid align-content-center justify-content-center">
            <form (ngSubmit)="deleteCard()">
                <button type="button" class="btn btn-secondary material-symbols-outlined" aria-label="Cancel"
                    (click)="modal.dismiss('Cancel')">
                    cancel
                </button>
                <button type="submit" class="btn mx-2 btn-danger material-symbols-outlined" aria-label="Delete"
                    (click)="modal.close('Delete')">delete</button>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #createCardModal let-modal class="#">
    <div cdkDrag cdkDragRootElement=".modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{language==='en'?'New Project card':'Nueva tarjeta de Proyecto'}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="createCard()">
                <div class="form-group">
                    <label for="webmVideoUrl">{{language === 'en'? 'webm Video Url: ' : 'Url del Video webm: '}}</label>
                    <input type="text" class="form-control" id="webmVideoUrl" name="webmVideoUrl"
                        [(ngModel)]="newCard.vWebSrc">
                </div>
                <div class="form-group">
                    <label for="mp4VideoUrl">{{language === 'en'? 'mp4 Video Url: ' : 'Url del Video mp4: '}}</label>
                    <input type="text" class="form-control" id="mp4VideoUrl" name="mp4VideoUrl"
                        [(ngModel)]="newCard.vMp4Src">
                </div>
                <div class="form-group mt-2">
                    <label for="title">{{language === 'en'? 'Project title (en): ' : 'Título del Proyecto
                        (en):
                        '}}</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newCard.h2.en">
                </div>
                <div class="form-group mt-2">
                    <label for="titulo">{{language === 'en'? 'Project title (es): ' : 'Título del Proyecto
                        (es):
                        '}}</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="newCard.h2.es">
                </div>
                <div class="d-flex gap-1 mt-2">
                    <div class="form-group flex-fill">
                        <label for="d1">{{language === 'en'? 'Start Date: ' : 'Fecha de Inicio: '}}</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="d1"
                                [(ngModel)]="newCard.startDate" ngbDatepicker #d1="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                    <div class="form-group flex-fill">
                        <label for="d2">{{language === 'en'? 'End Date: ' : 'Fecha Fin: '}}</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="d2" [(ngModel)]="newCard.endDate"
                                ngbDatepicker #d2="ngbDatepicker" />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="descripcion">{{language === 'en'? 'Project description (es): ' : 'Descripción del
                        Proyecto
                        (es):
                        '}}</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                        [(ngModel)]="newCard.ph.es">
                </div>
                <div class="form-group mt-2">
                    <label for="description">{{language === 'en'? 'Project description (en): ' : 'Descripción del
                        Proyecto
                        (en):
                        '}}</label>
                    <input type="text" class="form-control" id="description" name="description"
                        [(ngModel)]="newCard.ph.en">
                </div>
                <div class="form-group mt-2">
                    <label for="deployUrl">{{language === 'en'? 'Deploy Url: ' : 'Url del Deploy:
                        '}}</label>
                    <input type="text" class="form-control" id="deployUrl" name="deployUrl"
                        [(ngModel)]="newCard.deployUrl">
                </div>
                <div class="form-group mt-2">
                    <label for="codeUrl">{{language === 'en'? 'Code Url: ' : 'Url del Código:
                        '}}</label>
                    <input type="text" class="form-control" id="codeUrl" name="codeUrl" [(ngModel)]="newCard.codeUrl">
                </div>
                <button type="submit" class="btn mt-2 btn-primary mt-2"
                    (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
            </form>
        </div>
    </div>
</ng-template>