<main class="container-fluid m-0 p-0 mainProjects">
    <div class="m-0 p-0 titleAndButtons">
        <div class="p-0 m-0 titleWrapper">
            <!-- <input type="file" accept="image/*" id="changeImg" hidden>
            <button class="edit-button edit-top-left changeImg rounded-circle material-symbols-outlined"
                hidden>edit</button> -->
            <h1 class=" edit-content" contenteditable="false" id="h1Proj">Other PROJECTS</h1>
            <!-- <button class="edit-button rounded-circle material-symbols-outlined">edit</button> -->
        </div>

        <div class="projectsWrapper m-0 p-2">
            <div class="d-flex justify-content-center align-content-center flex-wrap gap-2 p-2">
                <a class="btn btn-warning">
                    Go to my Vanilla Js Portfolio && Other Projects!
                </a>
            </div>
        </div>
    </div>
</main>