<main *ngIf="!errorMessage else errorLoading" class="container-fluid m-0 p-0 mainProjects">
    <div class="m-0 p-0 titleAndButtons">
        <div class="p-0 m-0 titleWrapper">
            <button class="save-button rounded-circle save-top save-right material-symbols-outlined" data-id="h1Proj"
                [hidden]="!logged" (click)="saveH1($event)">save</button>
            <!-- <input type="file" accept="image/*" id=" " hidden>
            <button class="edit-button edit-top-left   rounded-circle material-symbols-outlined"
                hidden>edit</button> -->
            <h1 class="edit-content" [class]="{contentEditableTrue:logged}" [contentEditable]="logged" id="h1Proj"
                [innerHTML]="lenguage === 'en'? section?.en : section?.es"></h1>
            <!-- <button class="edit-button rounded-circle material-symbols-outlined">edit</button> -->
        </div>

        <div class="projectsWrapper d-grid align-content-center justify-content-center m-0 p-2">
            <div class="d-flex justify-content-center align-content-center flex-wrap gap-2 p-2">
                <a class="btn btn-warning"
                    href="https://m32795434.github.io/Portfolio-YoProgramo-MaquetadoFront/projects.html">
                    Go to my Vanilla Js Portfolio && Other Projects!
                </a>
            </div>
        </div>
    </div>
</main>
<ng-template #errorLoading>{{errorMessage}}</ng-template>