<nav ngbDropdown class="d-inline-block">
    <button type="button" [class]="{btn:true,'material-icons':!greaterThan975}"
        [id]="greaterThan975? 'sectionBtn':'menu-Hamb'" ngbDropdownToggle>
        {{!greaterThan975? 'menu' : (language==='en'? 'Section' : 'Sección')}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <h6 class="dropdown-header">Section</h6>
        <a class="button" routerLinkActive="activebutton" routerLink="home" ariaCurrentWhenActive="page"
            ngbDropdownItem>Home</a>
        <a class="button" routerLinkActive="activebutton" routerLink="experience" ariaCurrentWhenActive="page"
            ngbDropdownItem>Experience</a>
        <a class="button" routerLinkActive="activebutton" routerLink="qPD" ariaCurrentWhenActive="page"
            ngbDropdownItem>Qualifications & P.D.</a>
        <a class="button" routerLinkActive="activebutton" routerLink="projects" ariaCurrentWhenActive="page"
            ngbDropdownItem>Projects</a>
        <a class="button" routerLinkActive="activebutton" routerLink="HardAndSoftSkills" ariaCurrentWhenActive="page"
            ngbDropdownItem>Hard & Soft Skills</a>
        <hr class="dropdown-divider">


        <button class="login" (click)="loginToggle(loginModal)" [innerText]="logged? 'LOGOUT':'LOGIN'"
            ngbDropdownItem></button>
        <!-- Otra forma -->
        <!-- <a [routerLink]="['/experience']">Enlace a Experience</a> -->
        <!-- LOGIN MODAL -->
        <ng-template #loginModal let-modal class="loginModal">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit(loginModal)">
                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="userName">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            [(ngModel)]="password">
                    </div>
                    <button type="submit" class="btn mt-2 btn-primary"
                        (click)="modal.close('Save click')">Submit</button>
                </form>
            </div>
        </ng-template>
    </div>
</nav>