<nav ngbDropdown class="d-inline-block">
    <button type="button" class="btn" class="btn {{greaterThan975 ? '' : 'material-icons'}}"
        id="{{greaterThan975? 'sectionBtn':'menu-Hamb'}}" ngbDropdownToggle>
        {{text}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <h6 class="dropdown-header">Section</h6>
        <a class="button" routerLinkActive="activebutton" routerLink="home" ariaCurrentWhenActive="page"
            ngbDropdownItem>Home</a>
        <a class="button" routerLinkActive="activebutton" routerLink="experience" ariaCurrentWhenActive="page"
            ngbDropdownItem>Experience</a>
        <a class="button" routerLinkActive="activebutton" routerLink="home" ariaCurrentWhenActive="page"
            ngbDropdownItem>Qualifications & P.D.</a>
        <a class="button" routerLinkActive="activebutton" routerLink="experience" ariaCurrentWhenActive="page"
            ngbDropdownItem>Projects</a>
        <a class="button" routerLinkActive="activebutton" routerLink="experience" ariaCurrentWhenActive="page"
            ngbDropdownItem>Hard & Soft Skills</a>
        <hr class="dropdown-divider">
        <button ngbDropdownItem>LOGIN</button>
        <!-- Otra forma -->
        <!-- <a [routerLink]="['/experience']">Enlace a Experience</a> -->
    </div>
</nav>