<nav ngbDropdown class="d-inline-block">
    <button type="button" [class]="{btn:true,'material-icons':!greaterThan975}"
        [id]="greaterThan975? 'sectionBtn':'menu-Hamb'" ngbDropdownToggle>
        {{!greaterThan975? 'menu' : (language==='en'? 'Section' : 'Sección')}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <h6 class="dropdown-header">{{language==='en'?'Section':'Sección'}}</h6>
        <a class="button" routerLinkActive="activebutton" routerLink="home" ariaCurrentWhenActive="page"
            ngbDropdownItem>{{language==='en'?'About':'Acerca De'}}</a>
        <a class="button" routerLinkActive="activebutton" routerLink="experience" ariaCurrentWhenActive="page"
            ngbDropdownItem>{{language==='en'?'Experience':'Experiencia'}}</a>
        <a class="button" routerLinkActive="activebutton" routerLink="qPD" ariaCurrentWhenActive="page"
            ngbDropdownItem>{{language==='en'?'Qualifications & P.D.':'Estudios y Cert.'}}</a>
        <a class="button" routerLinkActive="activebutton" routerLink="projects" ariaCurrentWhenActive="page"
            ngbDropdownItem>{{language==='en'?'Projects':'Proyectos'}}</a>
        <a class="button" routerLinkActive="activebutton" routerLink="HardAndSoftSkills" ariaCurrentWhenActive="page"
            ngbDropdownItem>{{language==='en'?'Hard & Soft Skills':'Habilidades'}}</a>
        <hr class="dropdown-divider">


        <button class="login" (click)="loginToggle(loginModal)" ngbDropdownItem>{{logged? (language==='en'?
            'LOGOUT':'SALIR') : (language==='en'? 'LOGIN':'INGRESAR') }}</button>
        <!-- Otra forma -->
        <!-- <a [routerLink]="['/experience']">Enlace a Experience</a> -->
        <!-- LOGIN MODAL -->
        <ng-template #loginModal let-modal>
            <div cdkDrag cdkDragRootElement=".modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{language==='en'?'Login':'Ingresar'}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit(loginModal)">
                        <div class="form-group">
                            <label for="userName">{{language==='en'?'User Name':'Usuario'}}</label>
                            <input type="text" class="form-control" id="userName" name="userName"
                                [(ngModel)]="userName">
                        </div>
                        <div class="form-group">
                            <label for="password">{{language==='en'?'Password':'Contraseña'}}</label>
                            <input type="password" class="form-control" id="password" name="password"
                                [(ngModel)]="password">
                        </div>
                        <button type="submit" class="btn mt-2 btn-primary"
                            (click)="modal.close('Save click')">{{language==='en'?'Submit':'Enviar'}}</button>
                    </form>
                </div>
            </div>
        </ng-template>
    </div>
</nav>