.modal {
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #100418d9;
    z-index: 30000;
}

.modal-content {
    background-color: #02459d;
    padding: 1rem;
    border-radius: 0.25rem;
}

/* Spinner */
// .spinner {
//     border: 4px solid #f3f3f3;
//     border-top: 4px solid #3498db;
//     border-radius: 50%;
//     width: 30px;
//     height: 30px;
//     animation: spin 2s linear infinite;
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

.leap-frog {
    --uib-size: 40px;
    --uib-speed: 2.5s;
    --uib-color: #fc0000;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: var(--uib-size);
}

.leap-frog__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.leap-frog__dot::before {
    content: '';
    display: block;
    height: calc(var(--uib-size) * 0.22);
    width: calc(var(--uib-size) * 0.22);
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
}

.leap-frog__dot:nth-child(1) {
    animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
    transform: translateX(calc(var(--uib-size) * 0.4));
    animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5) infinite;
}

.leap-frog__dot:nth-child(3) {
    transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
    animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    33.333% {
        transform: translateX(0) rotate(180deg);
    }

    66.666% {
        transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
    }

    99.999% {
        transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}