@use '@angular/material' as mat;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
// @import '../node_modules/bootstrap/scss/mixins/_breakpoints.scss';

@include mat.core();


$yo-programo-front-ng-primary: mat.define-palette(mat.$indigo-palette);
$yo-programo-front-ng-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$yo-programo-front-ng-warn: mat.define-palette(mat.$red-palette);


$yo-programo-front-ng-theme: mat.define-light-theme((color: (primary: $yo-programo-front-ng-primary,
                accent: $yo-programo-front-ng-accent,
                warn: $yo-programo-front-ng-warn,
            )));


@include mat.all-component-themes($yo-programo-front-ng-theme);

@import "app/components/footer/footer.component.scss";
@import "app/components/header/section-dropdown/section-dropdown.component.scss";
@import "app/components/header/settings-offcanvas/settings-offcanvas.component.scss";
@import "app/components/header/solcials-dropdown/socials-dropdown.component.scss";
@import "app/components/header/header.component.scss";
@import "app/components/hardAndSoftSkills/hard-and-soft-skills.component.scss";
@import "app/components/home/home.component.scss";
@import "app/components/projects/projects.component.scss";
@import "app/components/qpd/qpd.component.scss";
@import "app/components/experience/experience.component.scss";


:is(button.material-symbols-outlined, button.material-icons) {
    font-family: 'Material Symbols Outlined';
}

//RED TOOLTIPS
.tooltip.innerRed {


    &>.tooltip-arrow::before {
        border-color: rgba(255, 0, 0, 0.623) transparent transparent transparent;
    }

    &>.tooltip-inner {
        background-color: rgb(205, 30, 30);
    }
}

//-----------------START-MAIN----------------------------
.main-section {
    position: relative;

    & .imgTitleWrapper {
        position: relative;

        & .wrapper-h1-save {
            position: absolute;
            top: 0;

            & h1 {
                font-family: Montserrat, 'Open Sans', Lato, 'sans-serif';
                font-size: 28px;
                background-color: rgba(217, 217, 217, 0.28);
                color: #1f1d1dae;
                font-weight: 600;
                padding: 21px 13px 13px 7px;

            }

            & h1#h1Qual {
                @include media-breakpoint-only(lg) {
                    font-size: 23px;
                }
            }
        }



        & #createCard {
            position: absolute;
            z-index: 11;
            top: 80%;

            @include media-breakpoint-up(lg) {
                top: 0;
                left: 85%;
            }
        }
    }

    & img {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    & .swiper-slide a {
        color: #474e6e;
        background-color: #fe0;
        padding: 1px 10px;
        font-weight: 900;
        text-decoration-line: underline;
        text-decoration-color: #f7141482;
        text-decoration-thickness: 6px;
    }
}

.Main404 {
    & img {
        width: 50%;
    }
}


//-----------------END-MAIN----------------------------

//-----------------SAVE BUTTONS--------------------------
.save-button {
    // font-family: 'Material Symbols Outlined';
    height: 50px;
    width: 50px;
    color: #FA1C1C;
    border: 1px solid #FA1C1C;
    font-size: 34px;
    background-color: #393838;

    &:hover {
        border-radius: 7px;
        box-shadow: 0 0 7px 4px #8a8989;
    }
}

button[aria-label="create-card"] {
    background-color: #ffba00;
    color: black;
}

.save-top {
    top: -30px;
}

.save-left {
    position: absolute;
    z-index: 10;
    left: 5px;
}

.save-right {
    position: absolute;
    z-index: 10;
    left: 85%;
}


//-------------------SWIPER-------------------
.swiper-button-prev,
.swiper-button-next {
    top: 80%;
    border-radius: 6px;
    outline: 3px solid gray;
    color: red;
    background-color: rgba(124, 128, 149, 0.6901960784);
    box-shadow: 2px 2px 2px grey;

    &:hover {
        border: 2px solid rgb(0, 0, 0)
    }
}

.swiper-pagination-bullet {
    @include media-breakpoint-up(lg) {
        opacity: 0.5;
        background-color: grey;
    }
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: white;

    @include media-breakpoint-up(lg) {
        background-color: red;
    }
}

//-------------------MODALS-------------------
.modal-content {
    cursor: move;
}

.close {
    border-radius: 5px;

    &:hover {
        color: white;
        background-color: blue;
        border-color: grey;
        box-shadow: 0 0 2px 1px #8a8989;

    }
}

.form-control:hover {
    border-radius: 7px;
    box-shadow: 0 0 7px 4px #8a8989;
}

//-------------------CONTENT EDITABLE TRUE-------------------

.contentEditableTrue {
    caret-color: red !important;
    background-color: #2e01ff40 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

//---------------------NGX-SCROLLBAR
.ng-scroll-content {
    width: 100%;
}


//drag and drop areas
.drop-area {
    border: 2px dashed #ccc;
    padding: .5rem;
    text-align: center;
    font-weight: bold;

    @include media-breakpoint-up(md) {
        padding: 1rem;
    }
}

.drop-area.drag-over {
    border: 3px dashed red;
}