/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";

//FOR ALL THE material-symbols-outlined
:is(button.material-symbols-outlined, button.material-icons) {
    font-family: 'Material Symbols Outlined';
}

//RED TOOLTIPS
.tooltip.innerRed {


    &>.tooltip-arrow::before {
        border-color: rgba(255, 0, 0, 0.623) transparent transparent transparent;
    }

    &>.tooltip-inner {
        background-color: rgb(205, 30, 30);
    }
}

//-----------------START-MAIN----------------------------

.main-section {
    position: relative;

    & img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.Main404 {
    & img {
        width: 50%;
    }
}


//-----------------END-MAIN----------------------------

//-----------------EDIT-BUTTONS--------------------------
.edit-button {
    // font-family: 'Material Symbols Outlined';
    height: 50px;
    width: 50px;
    color: #FA1C1C;
    border: 1px solid #FA1C1C;
    font-size: 34px;
    background-color: #393838;

    &:hover {
        border-radius: 7px;
        box-shadow: 0 0 7px 4px #8a8989;
    }
}

.edit-top-left {
    position: absolute;
    z-index: 11;
    top: -30px;
    left: 5px;
}


.edit-top-right {
    position: absolute;
    z-index: 11;
    top: -50px;
    left: 85%;
}